<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/plugins/slicknav.min.css" rel="stylesheet">
    <link href="~/css/plugins/magnific-popup.css" rel="stylesheet">
    <link href="~/css/plugins/owl.carousel.min.css" rel="stylesheet">
    <link href="~/css/plugins/gijgo.css" rel="stylesheet">
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/reset.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
</head>
<body class="loader-active">
    <!--== Preloader Area Start ==-->
    <div class="preloader">
        <div class="preloader-spinner">
            <div class="loader-content">
                <img src="~/img/preloader.gif" alt="JSOFT">
            </div>
        </div>
    </div>
    <!--== Preloader Area End ==-->

    <!--== Header Area Start ==-->
    <header id="header-area">
        <!--== Header Top Start ==-->
        <div id="header-top" class="d-none d-xl-block">
            <div class="container">
                <div class="row">
                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-left">
                        <i class="fa fa-map-marker"></i> София, България
                    </div>
                    <!--== Single HeaderTop End ==-->
                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-center">
                        <i class="fa fa-mobile"></i> +359 884 609 880
                    </div>
                    <!--== Single HeaderTop End ==-->
                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-center">
                        <i class="fa fa-clock-o"></i> 24/7 Денонощна поддръжка
                    </div>
                    <!--== Single HeaderTop End ==-->
                    <!--== Social Icons Start ==-->
                    <div class="col-lg-3 text-right">
                        <div class="header-social-icons">
                            <a href="https://github.com/T316" target="_blank"><i class="fa fa-github"></i></a>
                            <a href="https://www.facebook.com/profile.php?id=100004047973261" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/yordanov_t/?fbclid=IwAR1Z19Kpiqg-bosnHntxqM1mYfEYcDyfwH0FS1uXt6lPkd9zpU_Lrtvz6is" target="_blank"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <!--== Social Icons End ==-->
                </div>
            </div>
        </div>
        <!--== Header Top End ==-->
        <!--== Header Bottom Start ==-->
        <div id="header-bottom">
            <div class="container">
                <div class="row">
                    <!--== Logo Start ==-->
                    <div class="col-lg-3">
                        <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/img/logo.png" alt="JSOFT">
                        </a>
                    </div>
                    <!--== Logo End ==-->
                    <!--== Main Menu Start ==-->
                    <div class="col-lg-9 d-none d-xl-block">
                        <nav class="mainmenu">
                            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                                <ul class="flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Autopark">Автопарк</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">Контакти</a>
                                    </li>
                                </ul>
                            </div>
                            <partial name="_LoginPartial" />
                        </nav>
                    </div>
                    <!--== Main Menu End ==-->
                </div>
            </div>
        </div>
        <!--== Header Bottom End ==-->
    </header>
    <!--== Header Area End ==-->

    @RenderBody()

    <!--== Footer Area Start ==-->
    <section id="footer-area">
        <!-- Footer Widget Start -->
        <div class="footer-widget-area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>ЗА НАС</h2>
                            <div class="widget-body">
                                <img src="~/img/logo.png" alt="JSOFT">
                                <p>RC Trans предлага автомобили, бусове и автобуси под наем в цяла България.</p>

                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->
                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>ЗА КЛИЕНТИ</h2>
                            <div class="widget-body">
                                <ul class="recent-post">
                                    <li>
                                        <a asp-area="" asp-controller="Home" asp-action="Terms">Общи условия</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Home" asp-action="Privacy">Политика за поверителност</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->
                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>КОНТАКТИ</h2>
                            <div class="widget-body">
                                <ul class="get-touch">
                                    <li><i class="fa fa-map-marker"></i> София, България</li>
                                    <li><i class="fa fa-mobile"></i> +359 884 609 880</li>
                                    <li><i class="fa fa-envelope"></i> todor.yordanov93@gmail.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->
                </div>
            </div>
        </div>
        <!-- Footer Widget End -->
        <!-- Footer Bottom Start -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            &copy; RCTrans
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->
    </section>
    <!--== Footer Area End ==-->

    <!--== Scroll Top Area Start ==-->
    <div class="scroll-top">
        <img src="~/img/scroll-top.png" alt="JSOFT">
    </div>
    <!--== Scroll Top Area End ==-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/jquery-migrate.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/plugins/gijgo.js"></script>
    <script src="~/js/plugins/vegas.min.js"></script>
    <script src="~/js/plugins/isotope.min.js"></script>
    <script src="~/js/plugins/owl.carousel.min.js"></script>
    <script src="~/js/plugins/waypoints.min.js"></script>
    <script src="~/js/plugins/counterup.min.js"></script>
    <script src="~/js/plugins/mb.YTPlayer.js"></script>
    <script src="~/js/plugins/magnific-popup.min.js"></script>
    <script src="~/js/plugins/slicknav.min.js"></script>
    <script src="~/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
