@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Промяна на паролата";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="row manager-section-padding">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="menager-section-title text-center">
            <h4>@ViewData["Title"]</h4>
            <span class="title-line"><i class="fa fa-car"></i></span>
        </div>
        <partial name="_StatusMessage" for="StatusMessage" />
        <form id="change-password-form" method="post">
            <div class="theme-form">
                <label asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="theme-form">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="theme-form">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn theme-btn">Промени</button>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
