/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.home-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/pricing-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
    text-align: center !important;
}

    .home-img h1 {
        color: #ffd000;
        margin-bottom: 20px;
        font-size: 70px;
    }

    .home-img p {
        color: #fff;
        font-size: 20px;
    }

.home-container {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.manager-section-padding {
    padding-top: 50px;
}

.vehicle-index-img {
    width: 341px;
    height: 235px;
}

.article-index-img {
    width: 450px;
    height: 300px;
}

.vehicle-reserve-img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.autopark-title {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 0px;
}


    .autopark-title h2 {
        margin-bottom: 10px;
        position: relative;
        text-transform: uppercase;
    }

    .autopark-title p {
        margin-top: 10px;
    }

    .autopark-title .title-line {
        color: #ffd000;
        position: relative;
    }

        .autopark-title .title-line::after {
            background-color: #333;
            content: "";
            height: 2px;
            left: -60px;
            position: absolute;
            top: 10px;
            width: 50px;
        }

        .autopark-title .title-line::before {
            background-color: #333;
            content: "";
            height: 2px;
            position: absolute;
            right: -60px;
            top: 10px;
            width: 50px;
        }

.article-title {
    text-align: center;
}

.article-img {
    width: 750px;
    height: 520px;
    padding: 10px;
    margin: 30px;
}

.checkBox {
    width: 3% !important;
    margin-right: 10px !important;
    float: left;
}

.my-order-btn {
    width: 250px;
}

.edit-btn {
    background-color: cornflowerblue;
    color: #000 !important;
    font-size: 13px;
    font-weight: 600;
    margin-top: 20px;
    padding: 10px 25px;
    text-transform: uppercase;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .edit-btn:hover {
        border-color: #000000;
    }

.delete-btn {
    background-color: orangered;
    color: #000 !important;
    font-size: 13px;
    font-weight: 600;
    margin-top: 20px;
    padding: 10px 25px;
    text-transform: uppercase;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .delete-btn:hover {
        border-color: #000000;
    }
