@using RCTrans.Data.Models.Enums
@model RCTrans.Web.ViewModels.Administration.Dashboard.VehicleCreateInputModel
@{
    ViewData["Title"] = "Редектиране на амтомобил";
}

<div class="row pages-padding">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="col-lg-12">
            <div class="section-title  text-center">
                <h2>@ViewData["Title"]</h2>
                <span class="title-line"><i class="fa fa-car"></i></span>
            </div>
        </div>
        <form method="post">
            <div class="theme-form">
                <label asp-for="Manufacturer"></label>
                <input asp-for="Manufacturer" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="theme-form">
                <label asp-for="Model"></label>
                <input asp-for="Model" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="theme-form">
                <label asp-for="AdditionalInfo"></label>
                <input asp-for="AdditionalInfo" />
                <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
            </div>
            <div class="theme-form">
                <label asp-for="Seats"></label>
                <input asp-for="Seats" />
                <span asp-validation-for="Seats" class="text-danger"></span>
            </div>
            <div class="theme-form">
                <label asp-for="Doors"></label>
                <input asp-for="Doors" />
                <span asp-validation-for="Doors" class="text-danger"></span>
            </div>
            <div class="theme-form">
                <label asp-for="Transmission"></label>
                <select asp-for="Transmission" asp-items="Html.GetEnumSelectList<Transmission>()"></select>
                <span asp-validation-for="Transmission" class="text-danger"></span>
            </div>
            <div class="theme-form">
                <label asp-for="Fuel"></label>
                <select asp-for="Fuel" asp-items="Html.GetEnumSelectList<Fuel>()"></select>
                <span asp-validation-for="Fuel" class="text-danger"></span>
            </div>
            <div class="theme-form">
                <label asp-for="VehicleType"></label>
                <select asp-for="VehicleType" asp-items="Html.GetEnumSelectList<VehicleType>()"></select>
                <span asp-validation-for="VehicleType" class="text-danger"></span>
            </div>
            <div class="theme-form">
                <label asp-for="VehicleSubType"></label>
                <select asp-for="VehicleSubType" asp-items="Html.GetEnumSelectList<VehicleSubType>()"></select>
                <span asp-validation-for="VehicleSubType" class="text-danger"></span>
            </div>
            <div class="theme-form">
                <label asp-for="Price"></label>
                <input asp-for="Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="theme-form">
                <label asp-for="ImageURL"></label>
                <input asp-for="ImageURL" />
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>
            <br />
            <div class="theme-form">
                <label asp-for="AirConditioner"></label>
                <input asp-for="AirConditioner" class="checkBox" />
                <span asp-validation-for="AirConditioner" class="text-danger"></span>
            </div>
            <div class="theme-form">
                <label asp-for="WinterTyres"></label>
                <input asp-for="WinterTyres" class="checkBox" />
                <span asp-validation-for="WinterTyres" class="text-danger"></span>
            </div>

            <button type="submit" class="btn theme-btn">Промени</button>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        function onLoad() {
            let vehicleSubTypeEl = document.getElementById('VehicleSubType');
            let selected = $('#VehicleType option:selected').index();
            vehicleSubTypeEl.innerHTML = "";

            if (selected === 0) {
                let optionEl = el('option', 'Хечбек', { value: 1 });
                let optionEl2 = el('option', 'Седан', { value: 2 });
                let optionEl3 = el('option', 'Комби', { value: 3 });
                let optionEl4 = el('option', 'Джип', { value: 4 });
                let optionEl5 = el('option', 'Пикап', { value: 5 });
                vehicleSubTypeEl.appendChild(optionEl);
                vehicleSubTypeEl.appendChild(optionEl2);
                vehicleSubTypeEl.appendChild(optionEl3);
                vehicleSubTypeEl.appendChild(optionEl4);
                vehicleSubTypeEl.appendChild(optionEl5);
            } else if (selected === 1) {
                let optionEl = el('option', 'Мини ван', { value: 6 });
                let optionEl2 = el('option', 'Товарен бус', { value: 7 });
                vehicleSubTypeEl.appendChild(optionEl);
                vehicleSubTypeEl.appendChild(optionEl2);

            } else if (selected === 2) {
                let optionEl = el('option', 'Автобус', { value: 8 });
                let optionEl2 = el('option', 'Специален автобус', { value: 9 });
                vehicleSubTypeEl.appendChild(optionEl);
                vehicleSubTypeEl.appendChild(optionEl2);
            }

            $('#VehicleType').on('change', function () {
                let selected = $('#VehicleType option:selected').index();

                vehicleSubTypeEl.innerHTML = "";

                if (selected === 0) {
                    let optionEl = el('option', 'Хечбек', { value: 1 });
                    let optionEl2 = el('option', 'Седан', { value: 2 });
                    let optionEl3 = el('option', 'Комби', { value: 3 });
                    let optionEl4 = el('option', 'Джип', { value: 4 });
                    let optionEl5 = el('option', 'Пикап', { value: 5 });
                    vehicleSubTypeEl.appendChild(optionEl);
                    vehicleSubTypeEl.appendChild(optionEl2);
                    vehicleSubTypeEl.appendChild(optionEl3);
                    vehicleSubTypeEl.appendChild(optionEl4);
                    vehicleSubTypeEl.appendChild(optionEl5);
                } else if (selected === 1) {
                    let optionEl = el('option', 'Мини ван', { value: 6 });
                    let optionEl2 = el('option', 'Товарен бус', { value: 7 });
                    vehicleSubTypeEl.appendChild(optionEl);
                    vehicleSubTypeEl.appendChild(optionEl2);

                } else if (selected === 2) {
                    let optionEl = el('option', 'Автобус', { value: 8 });
                    let optionEl2 = el('option', 'Специален автобус', { value: 9 });
                    vehicleSubTypeEl.appendChild(optionEl);
                    vehicleSubTypeEl.appendChild(optionEl2);
                }
            });
        }
        window.onload = onLoad;

        function el(type, content, attributes) {
            const result = document.createElement(type);

            if (attributes !== undefined) {
                Object.assign(result, attributes);
            }

            if (Array.isArray(content)) {
                content.forEach(append);
            } else {
                append(content);
            }

            function append(node) {
                if (typeof node === 'string') {
                    node = document.createTextNode(node);
                }
                result.appendChild(node);
            }

            return result;
        }
    </script>
}