@{
    ViewData["Title"] = "Успешно изпратено съобщение";
}

<div class="row pages-padding">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="col-lg-12">
            <div class="section-title  text-center">
                <h2>@ViewData["Title"]</h2>
                <span class="title-line"><i class="fa fa-car"></i></span>
                <p>Ще се свържем с вас при първа възможност</p>
                <img class="page-img" src="https://lh3.googleusercontent.com/proxy/nFGO0xHRdkIfR7ApypyNgBnZRgdJI41iM13hb5kUmC1-7dtHzNRsRgzu51Pg1XRNIrXt8lRPuK4svVURV4nFp-sKl9QmPTn4jj86oi_UD_wAlMt0bq5mlDZRic00HflGTGviNqBhOWlkTGBlvozQ3YyIsw" alt="Email send" />
            </div>
        </div>
    </div>
</div>