@model RCTrans.Web.ViewModels.Home.ContactsInputModel
@{
    ViewData["Title"] = "Контакти";
}

<div class="contact-page-wrao pages-padding">
    <div class="container">

        <div class="col-lg-12">
            <div class="section-title  text-center">
                <h2>@ViewData["Title"]</h2>
                <span class="title-line"><i class="fa fa-car"></i></span>
                <p>Свържете се с нас</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="theme-form">

                    <form method="post">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="theme-form">
                                    <label asp-for="FullName"></label>
                                    <input asp-for="FullName" />
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="theme-form">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="theme-form">
                            <label asp-for="Content"></label>
                            <textarea rows="10" asp-for="Content"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>

                        <div>
                            <button class="btn theme-btn" type="submit">Изпрати</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>