@{
    ViewData["Title"] = "Политика за поверителност";
}

<div class="container pages-padding">

    <div class="col-lg-12">
        <div class="section-title  text-center">
            <h2>@ViewData["Title"]</h2>
            <span class="title-line"><i class="fa fa-car"></i></span>
        </div>
    </div>


    <article class="b-article">

        <!-- Published At -->
        <!-- Body Text -->
        <p align="justify">Ние сме <strong>Автохелас Туърист енд Трейдинг Анонимъс Къмпани (Autohellas Tourist and Trading Anonymous Company)</strong>, и неговите дъщерни дружества за отдаване под наем и търговия, опериращи с марките <strong>Херц, Трифти, Долар, Файърфлай, Херц Оперейтинг Лийз (Hertz, Thrifty, Dollar, Firefly, Hertz Operating Lease и Technocar)</strong> (съвкупно „ние“, „ нас“, „нашите“). Тази политика не обхваща филиали и други трети страни, чрез които можете да взаимодействате с нас. Този сбит преглед обяснява как събираме, обработваме, съхраняваме и използваме по други начини сведения относно Вас и Вашите права във връзка с тези сведения. За пълно осведомяване, моля вижте цялата политика по-долу. <a href="#Privacy Policy">цялата политика</a> по-долу.</p>

        <br />
        <!-- Mobile : Read More -->
        <div id="cont1" class="hiddenCont visible-important-md-lg">
            <table class="table">
                <thead>
                    <tr>
                        <td class="header">
                            СЪБИРАНЕ
                        </td>
                        <td class="header">
                            ЦЕЛИ
                        </td>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="inside">
                            <ul>
                                <li>&nbsp;Ние събираме сведения от клиентите или шофьорите по време на процесите по резервиране и наемане, дългосрочно наемане (оперативен лизинг) или сделките по продажба на автомобили, като име, адрес, сведения за шофьорска книжка, кредитна карта и пр.</li>
                                <li>&nbsp;Можем да събираме информация от Вас по множество начини, включително, но не само, телефонни обаждания, връзка за обслужване на клиента, уеб-сайтове и други източници, включително доставчици на услуги – трети страни и бизнес партньори.</li>
                                <li>&nbsp;Използваме „бисквитки“ на нашите уеб-сайтове.</li>
                            </ul>
                        </td>
                        <td class="inside">
                            <ul>
                                <li>&nbsp;Сведенията, предоставени от Вас, ще бъдат използвани, за да Ви предоставим поисканите от Вас услуги.</li>
                                <li>&nbsp;Ще използваме данните за връзка, които предоставите, за да взаимодействаме с Вас за предоставяне на тези услуги.</li>
                                <li>&nbsp;Можем да използваме данните Ви за връзка, за да Ви изпращаме сведения за наши продукти и услуги, когато ни го позволите.</li>
                                <li>&nbsp;Използваме данните от бисквитките за собствените ни статистически цели и за да можем да помагаме на клиентите си чрез подобряване на нашите услуги работата на нашите уеб-сайтове.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="header">СПОДЕЛЯНЕ</td>
                        <td class="header">СЪХРАНЕНИЕ И СИГУРНОСТ</td>
                    </tr>
                    <tr>
                        <td class="inside">
                            <ul>
                                <li>&nbsp;Можем да предоставим информацията Ви на предназначени доставчици на услуги – трети страни за горните цели.</li>
                                <li>&nbsp;Не споделяме Вашите данни на несвързани трети страни, но само с Ваше разрешение можем безопасно да споделяме Вашата информация с партньори трети страни за маркетингови цели.</li>
                                <li>&nbsp;Вашите данни може да бъдат прехвърлени от държавата, където услугите са били предоставени, към държави извън ЕС, като САЩ, за обработка и съхранение, съгласно приложимите закони и за същите цели.</li>
                            </ul>
                            <p>&nbsp;</p>
                        </td>
                        <td class="inside">
                            <ul>
                                <li>&nbsp;Прилагаме разумни мерки за опазване на Личните данни от кражба, непозволена употреба, разкриване или изменение.</li>
                                <li>&nbsp;Поддържаме целесъобразни физически, технически, процедурни и електронни защити, за да защитим Личните Ви данни.</li>
                                <li>&nbsp;Задържаме сведенията за клиентите за необходимия срок, според целите за които са били събрани, или както е позволено или се изисква от Вас или от закона.</li>
                            </ul>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="header">ВАШИТЕ ПРАВА</td>
                        <td class="header">ВЪПРОСИ И ИЗМЕНЕНИЯ</td>
                    </tr>
                    <tr>
                        <td class="inside">
                            <ul>
                                <li>&nbsp;Имате всички права, съгласно разпоредбите на Регламент ЕС 2016/679 и цялото свързано европейско и национално законодателство. В частност, имате право на достъп, преглед или обновяване на Личните данни, които съхраняваме във връзка с Вас.</li>
                                <li>&nbsp;При определени обстоятелства, можете също така да поискате поправяне или изтриване на Вашите Лични данни, или да се намалят нашата обработка или определени действия по обработката.</li>
                                <li>&nbsp;Ще направим всичко възможно, за да изпълним Вашето искане и упражняването на правата Ви, но си запазваме правото да наложим определени ограничения и изисквания, съгласно закона.</li>
                                <li>&nbsp;Когато е необходимо съгласието Ви за обработката, Вие винаги можете да го оттеглите.</li>
                            </ul>
                        </td>
                        <td class="inside">
                            <ul>
                                <li>&nbsp;Ако имате въпроси или се безпокоите за това как обработваме Личните Ви данни, можете да се свържете с нас, както е предвидено в основната Политика.</li>
                                <li>&nbsp;Можем да изменяме тази Политика по всяко време, но измененията няма да се прилагат със задна дата.</li>
                                <li>&nbsp;Тази политика е обновена за последен път на 24.05.2018 г.</li>
                            </ul>
                            <p><br><br><br><br><br><br></p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>

            <h3>ОБХВАТ И КОНТРОЛЬОРИ</h3>
            <p><br>Ние сме гръцкото дружество <strong>Автохелас Туърист енд Трейдинг Анонимъс Къмпани (Autohellas Tourist and Trading Anonymous Company)</strong>, официален франчайзополучател на Херц Интернешънъл за Гърция и други седем (7) държави, в които извършваме стопанска дейност чрез нашите дъщерни дружества, както е посочено в таблицата по-долу. Нашите дейности включват неизчерпателно:</p>
            <ol>
                <li>Услуги за краткосрочно наемане на коли или оборудване (рент-а-кар, наемане на оборудване)</li>
                <li>&nbsp;Дългосрочен лизинг на коли или оборудване и управление на автопаркове (оперативен лизинг)</li>
                <li>&nbsp;Услуги за поддръжка и ремонт на коли</li>
                <li>&nbsp;Продажба на автомобили втора ръка (на едро и дребно)</li>
                <li>&nbsp;Продажба на нови автомобили (на едро и дребно).</li>
            </ol>
            <p>Търговските марки, които използваме, са Херц, Трифти, Долар, Файърфлай, Херц Оперейтинг Лийз и Технокар-Сийт (Hertz, Thrifty, Dollar, Firefly, Hertz Operating Lease и Technocar–Seat) (съвкупно, „<strong>ние</strong>”, „<strong>нас</strong>“ и „<strong>наши</strong>”). <br><br></p>
            <table class="table2">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Дружество</th>
                        <th>Държава</th>
                        <th>Символ на държавата</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="#">1</td>
                        <td data-title="Дружество">Autohellas S.A.</td>
                        <td data-title="Държава">Гърция</td>
                        <td data-title="Символ на държавата">GR</td>
                    </tr>
                    <tr>
                        <td data-title="#">2</td>
                        <td data-title="Дружество">Autotechnica Hellas S.A.</td>
                        <td data-title="Държава">Гърция</td>
                        <td data-title="Символ на държавата">GR</td>
                    </tr>
                    <tr>
                        <td data-title="#">3</td>
                        <td data-title="Дружество">Autotechnica (Cyprus) Ltd.</td>
                        <td data-title="Държава">Кипър</td>
                        <td data-title="Символ на държавата">CY</td>
                    </tr>
                    <tr>
                        <td data-title="#">4</td>
                        <td data-title="Дружество">Autotechnica Ltd.</td>
                        <td data-title="Държава">България</td>
                        <td data-title="Символ на държавата">BG</td>
                    </tr>
                    <tr>
                        <td data-title="#">5</td>
                        <td data-title="Дружество">Autotechnica Fleet Services SRL</td>
                        <td data-title="Държава">Румъния</td>
                        <td data-title="Символ на държавата">RO</td>
                    </tr>
                    <tr>
                        <td data-title="#">6</td>
                        <td data-title="Дружество">Autotechnica Serbia DOO</td>
                        <td data-title="Държава">Сърбия</td>
                        <td data-title="Символ на държавата">RS</td>
                    </tr>
                    <tr>
                        <td data-title="#">7</td>
                        <td data-title="Дружество">Autotechnica Montenegro DOO</td>
                        <td data-title="Държава">Черна гора</td>
                        <td data-title="Символ на държавата">ME</td>
                    </tr>
                    <tr>
                        <td data-title="#">8</td>
                        <td data-title="Дружество">Autotehnica Fleet Services d.o.o.</td>
                        <td data-title="Държава">Хърватия</td>
                        <td data-title="Символ на държавата">HR</td>
                    </tr>
                    <tr>
                        <td data-title="#">9</td>
                        <td data-title="Дружество">Autotechnica Fleet Services LLC</td>
                        <td data-title="Държава">Украйна</td>
                        <td data-title="Символ на държавата">UA</td>
                    </tr>
                </tbody>
            </table>
            <p align="justify">Съвкупно, ние сме <strong>контрольори на данни</strong> за целите на тази Политика за поверителност („<strong>Политиката</strong>“). <br><br>Тази Политика включва данните, които събираме относно Вас, във връзка с горепосочените бизнес дейности, за установяване, пряко или косвено, на самоличността Ви като конкретно лице („Лични данни“). Тя <u>не е приложима</u> за сведения, които не могат приемливо да установят самоличността Ви. Например, но не изчерпателно, събраните съвкупни анонимни данни не са Лични данни. <br><br>Ние уважаваме правото на поверителност на нашите клиенти и се задължаваме да опазим Вашето лично пространство. Тази политика обяснява нашите способи за обработка на данни във връзка с Вашите Лични данни, както и правата Ви по отношение на тези данни.</p>
            <p><strong>Съдържание</strong></p>
            <ol>
                <li><a href="#syllogi">Събиране</a></li>
                <li><a href="#skopoi">Цели</a></li>
                <li><a href="#diamirasmos">Споделяне</a></li>
                <li><a href="#asfaleia">Съхранение и сигурност</a></li>
                <li><a href="#dikaiomata">Вашите права</a></li>
                <li><a href="#erotiseis">Въпроси и изменения</a></li>
            </ol>
            <br />
            <h3 style="text-decoration: underline;"><a id="syllogi"></a>1. СЪБИРАНЕ</h3>
            <br />
            <p align="justify">Събираме Личните данни, които ни предоставяте, по време на изпълнението на нашите услуги, на нашите уеб-сайтове, на сайтове на трети страни, в приложения, които използваме за предоставяне на нашите услуги, във връзка с всякакви запитвания, резервации, наемания или покупки, които правите по отношение на нашите услуги. Можем да събираме Личните Ви данни пряко или чрез нашите доставчици на услуги, нашите дъщерни дружества, нашия франчайзодател, бизнес партньорите ни и доставчиците на канали за резервация. За повече подробности, вижте по-долу:</p>
            <p><strong>1.Α. ВИДОВЕТЕ СЪБИРАНА ИНФОРМАЦИЯ </strong>може да включва, неизчерпателно:</p>
            <h3><br>1.Α.1. Лични данни:</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <ul>
                                <li>&nbsp;пълно име</li>
                                <li>&nbsp;дата и място на раждане</li>
                                <li>&nbsp;пол</li>
                                <li>&nbsp;адрес</li>
                                <li>&nbsp;адрес на ел. поща</li>
                            </ul>
                        </th>
                        <th>
                            <ul>
                                <li>&nbsp;мобилен телефонен номер</li>
                                <li>&nbsp;номер на паспорт</li>
                                <li>&nbsp;шофьорска книжка или друго</li>
                                <li>&nbsp;Лична карта</li>
                                <li>&nbsp;кредитен рейтинг и кредитна история</li>
                            </ul>
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <h3><br>1.Α.2. Технически данни:</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <ul>
                                <li>&nbsp;IP адрес</li>
                                <li>&nbsp;ID на устройство</li>
                                <li>&nbsp;IP адрес</li>
                                <li>&nbsp;вид браузър</li>
                                <li>&nbsp;оперативна система</li>
                                <li>&nbsp;идентификатори на мобилно устройство</li>
                                <li>&nbsp;данни за гео-местоположение</li>
                                <li>&nbsp;щат или държава, от които сте се свързали с нашите уеб-сайтове</li>
                            </ul>
                        </th>
                        <th>
                            <ul>
                                <li>&nbsp;конкретните посетени уеб страници</li>
                                <li>&nbsp;дата и час на посещението</li>
                                <li>&nbsp;уеб-сайтове, които сте посетили непосредствено преди да посетите нашите сайтове</li>
                                <li>&nbsp;брой линкове и конкретни линкове, които натискате в нашите сайтове</li>
                                <li>&nbsp;функции, които използвате на нашите сайтове</li>
                                <li>&nbsp;резервации, най-нова информация или други транзакции през нашите сайтове</li>
                                <li>&nbsp;данни, които разглеждате или сваляте от нашите сайтове</li>
                                <li>&nbsp;брой виждания от Вас на дадена реклама</li>
                            </ul>
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <h3><br>1.Α.3. Информация за наемане:</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <ul>
                                <li>&nbsp;място на резервация</li>
                                <li>&nbsp;място на наемане</li>
                                <li>&nbsp;място на връщане</li>
                                <li>&nbsp;срок на наемане</li>
                                <li>&nbsp;номер на лоялен клиент на авиолиния</li>
                            </ul>
                        </th>
                        <th>
                            <ul>
                                <li>&nbsp;данни за картата на разплащане</li>
                                <li>&nbsp;допълнителни данни за шофьора, ако има такива</li>
                                <li>&nbsp;застрахователни покрития</li>
                                <li>&nbsp;допълнителни предпочитания</li>
                                <li>&nbsp;направени разходи</li>
                            </ul>
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <h3><br>1.Α.4. Чувствителни данни:</h3>
            <p>Ние можем да събираме някои Лични данни, които представляват чувствителни данни, в някои държави, като (примерно, но неизчерпателно):</p>
            <ol style="list-style-type: lower-roman;">
                <li>данни, свързани със здравното състояние (например, ако има произшествие и трябва да работим със застрахователни дружества и дружества за управление на претенции във връзка в всяко нараняване, което може да претърпите)</li>
                <li>данни за кредитния рейтинг (например, в случай на дългосрочно наемане на автомобил или продажба на автомобил на вноски) и пр.</li>
            </ol>
            <p>Молим да отбележите, че в случай, че е необходимо да се предоставят чувствителни данни в рамките на услугите, които предоставяме, ще използваме тези данни за наша оперативна употреба, както е описано в тази Политика за поверителност, при условие, че дадете съгласието си, когато то е необходимо съгласно приложимото законодателство.</p>
            <p><strong>1.Β. НАЧИНИТЕ И ИЗТОЧНИЦИТЕ НА СЪБИРАНЕ </strong>може да включват, неизчерпателно:<br><br></p>
            <h3>1.Β.1. Събиране в Интернет:</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <ul>
                                <li>&nbsp;от нашите сайтове</li>
                                <li>&nbsp;от сайтове на партньори трети страни или сайта на нашия франчайзодател</li>
                                <li>&nbsp;от нашите информационни будки на самообслужване</li>
                                <li>&nbsp;от Вашия Интернет браузър</li>
                                <li>&nbsp;от нашите официални страници в социални мрежи на трети страни</li>
                            </ul>
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <h3><br><a id="cookies"></a>1.Β.2. Бисквитки и събиране на данни в Интернет</h3>
            <p align="justify">Използваме бисквитки на нашите сайтове, за складиране на информация на Вашите компютър или мобилно устройство за подобряване на Вашето онлайн преживяване. Бисквитките са малки текстови файлове, които Ви позволяват да се движите ефективно от страница на страница, помагат ни да разберем доколко добре работи този уебсайт и, като цяло, подобряват преживяването ви докато сърфирате. Бисквитките също така помагат да се гарантира, че онлайн рекламите, които виждате, са подходящи за Вашите интереси.</p>
            <p>Като цяло, нашите бисквитки могат да изпълняват следните функции:<br><br></p>
            <table class="table3">
                <thead>
                    <tr>
                        <th>Основни бисквитки</th>
                        <th>Някои бисквитки са жизненоважни за работата на нашите уебсайтове. Без тях Вие не бихте могли да сърфирате из уебсайта, нито да използвате някои негови характеристики. Основните бисквитки позволяват гладък преход от страница на страница в сайта и са абсолютно необходими за добрата му работа.</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="Основни бисквитки">Функционални бисквитки</td>
                        <td data-title="Някои бисквитки са жизненоважни за работата на нашите уебсайтове. Без тях Вие не бихте могли да сърфирате из уебсайта, нито да използвате някои негови характеристики. Основните бисквитки позволяват гладък преход от страница на страница в сайта и са абсолютно необходими за добрата му работа.">Не използваме функционални бисквитки и не можем да запомним Вашите предпочитания и избора Ви при предишни посещения на нашите сайтове.</td>
                    </tr>
                    <tr>
                        <td data-title="Основни бисквитки">Работни бисквитки</td>
                        <td data-title="Някои бисквитки са жизненоважни за работата на нашите уебсайтове. Без тях Вие не бихте могли да сърфирате из уебсайта, нито да използвате някои негови характеристики. Основните бисквитки позволяват гладък преход от страница на страница в сайта и са абсолютно необходими за добрата му работа.">Използваме работни бисквитки, за да анализираме как нашите посетители използват нашите уебсайтове и да наблюдаваме качеството на работата на нашите сайтове. Това ни позволява да предоставим висококачествено преживяване чрез персонализиране на предложението ни и бързо откриване и поправяне на проблемите, които възникват. Тези бисквитки не събират информация за самоличността на посетителя. Цялата събрана информация се събира накуп и, следователно, е анонимна и се използва за подобряване на работата на нашия уебсайт.</td>
                    </tr>
                    <tr>
                        <td data-title="Основни бисквитки">Рекламни бисквитки</td>
                        <td data-title="Някои бисквитки са жизненоважни за работата на нашите уебсайтове. Без тях Вие не бихте могли да сърфирате из уебсайта, нито да използвате някои негови характеристики. Основните бисквитки позволяват гладък преход от страница на страница в сайта и са абсолютно необходими за добрата му работа.">Ние използваме бисквитки, за да Ви представим реклами, които считаме че са подходящи за Вас и Вашите интереси. Те се използват за ограничаване на броя пъти, който виждате дадена реклама, както и за да измерят ефикасността на рекламната кампания. Може също да използваме бисквитки, поставени от рекламни агенции, които могат да запишат, че сте посетили този уебсайт и да споделят информацията с други рекламни организации, за да е възможно изпращането на целево рекламиране към Вашия компютър.</td>
                    </tr>
                    <tr>
                        <td data-title="Основни бисквитки">Бисквитки на трети страни</td>
                        <td data-title="Някои бисквитки са жизненоважни за работата на нашите уебсайтове. Без тях Вие не бихте могли да сърфирате из уебсайта, нито да използвате някои негови характеристики. Основните бисквитки позволяват гладък преход от страница на страница в сайта и са абсолютно необходими за добрата му работа.">Бисквитките на трети страни се поставят от организации, различни от Херц. Например, нашите уебсайтове могат да съдържат вгнездена информация от, например, YouTube, както и банери, доставени за Херц чрез мрежата на рекламен партньор. Тези сайтове могат да поставят свои собствени бисквитки, които ние не можем да контролираме.</td>
                    </tr>
                </tbody>
            </table>
            <h3><br>1.Β.3. Как можете да управлявате употребата на бисквитки</h3>
            <p align="justify">В случай, че желаете да задействате или спрете използването на бисквитки от настройките на Вашия уеб браузър, в зависимост от браузъра, можете да посетите следните уеб страници, за да получите съответната информация:</p>
            <ul style="list-style-type: none;">
                <li><a rel="noopener" href="http://support.microsoft.com/kb/278835" target="_blank">Microsoft Internet Explorer</a></li>
                <li><a rel="noopener" href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy" target="_blank">Microsoft Edge</a></li>
                <li><a rel="noopener" href="http://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored" target="_blank">Mozilla Firefox</a></li>
                <li><a rel="noopener" href="http://support.google.com/accounts/answer/61416?hl=en" target="_blank">Google Chrome</a></li>
                <li><a rel="noopener" href="http://www.opera.com/browser/tutorials/security/privacy/" target="_blank">Opera</a></li>
                <li><a rel="noopener" href="http://support.apple.com/kb/Ph3042" target="_blank">Safari</a></li>
                <li><a rel="noopener" href="http://support.apple.com/kb/HT1677" target="_blank">Safari for iPad and iPhone</a></li>
            </ul>
            <h3><br>1.Β.4. Бележка</h3>
            <p align="justify">Нашите сайтове не са предназначени за лица под 13-годишна възраст и ние не събираме Лични данни от такива лица с наше знание.</p>
            <h3><br>1.Β.5. Събиране извън Интернет:</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <ul>
                                <li>&nbsp;от обаждания към или от нашия кол-център за резервации, обслужване на клиенти, спешна помощ по пътищата, връзки с клиента или центрове за обслужване на членове</li>
                                <li>&nbsp;от взаимодействие с различните ни лицензианти, нашите филиали и дъщерни дружества, включително продажби на автомобили и други бизнеси</li>
                                <li>&nbsp;от лично явяване на местата за наемане или договорите за лизинг</li>
                                <li>&nbsp;във връзка с резервация (дори изоставена или прекъсната резервация), наемане на превозно средство или оборудване, или Ваша покупка на превозно средство или оборудване</li>
                                <li>&nbsp;от резервации, които правите при нас чрез лицензианти, брокери в туристически агенции, в Интернет или лично</li>
                            </ul>
                        </th>
                        <th>
                            <ul>
                                <li>&nbsp;от транзакции, които извършите с нас, наши лицензианти и агенти, включително избраните от Вас опции, начислените Ви такси и други инциденти или произшествия, които могат да настъпят</li>
                                <li>&nbsp;от други дружества, с които имаме бизнес отношения, като нашите филиали и бизнес партньори, включително авиолинии, хотели и застрахователни дружества</li>
                                <li>&nbsp;от дружества, предоставящи информация за надеждност</li>
                            </ul>
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <p>В зависимост от целите, за които събираме и използваме Личните Ви данни, както е изложено в тази Политика, Личните данни, които събираме от Вас, може да се изискват поради <strong>законово</strong> или <strong>договорно задължение</strong>, или да се предоставят от Вас на доброволни начала, или да са необходими, за да сключим договор с Вас и да Ви предоставим нашите услуги. Ако Вие не ни предоставите Личните си данни, може да не ни бъде възможно да предоставим желаните услуги (наемане, лизинг, поддръжка, продажба и пр.).</p>
            <br />
            <h3 style="text-decoration: underline;"><a id="skopoi"></a>2. ПРЕДНАЗНАЧЕНИЯ</h3>
            <br />
            <p align="justify">По-долу сме изложили различните причини, поради които обработваме Вашите лични данни. Също така сме изложили правните основания за обработката на Вашите Лични данни за всяко от предназначенията.<br><br><strong>2.1. ОПЕРАЦИИ И УСЛУГИ: </strong>&nbsp;Можем да използваме Вашите Лични данни, за да Ви предоставим услугите и продуктите, които заявите от нас и да извършваме други дейности, свързани с такива услуги и продукти, включително таксуване и събиране на плащанията след наемане или лизинг, или да се свържем с Вас във връзка със</p>
            <ol style="list-style-type: lower-roman;">
                <li>започнати от Вас резервации или транзакции по наемане, които извършвате при нас</li>
                <li>въпроси, свързани с безопасността, поддръжката и застрахователното покритие на колата, която наемете от нас</li>
                <li>въпроси, свързани с безопасността и поддръжката на колата, която сте закупили от нас.</li>
            </ol>
            <p align="justify"><span style="text-decoration: underline;">Правни основания:</span> да изпълним договора си с Вас или да предприемем стъпки по Ваша заявка преди сключване на договор с Вас.</p>
            <p align="justify"><strong>2.2. НАШИЯТ МАРКЕТИНГ: </strong>&nbsp;С Ваше съгласие, можем да използваме Вашите Лични данни, за да Ви предоставим маркетингова информация, анкети за удовлетворение на клиента или оценяване на услугите, специални оферти и промоции, чрез различни способи, включително ел. поща и SMS съобщения, съгласно приложимото законодателство.</p>
            <p align="justify"><span style="text-decoration: underline;">Правни основания:</span> на основата на Вашето съгласие. Само че, където приложимото право позволява, може законно да използваме Вашите Лични данни, за да Ви изпращаме такива маркетингови комуникации (вкл. по ел. поща) за такива маркетингови цели, когато е нужно на законните ни интереси, което включва рекламиране на наши продукти и услуги, специални оферти и промоции, които може да представляват интерес за Вас.</p>
            <p align="justify">Вие можете да се отпишете от получаване на такива съобщения по всяко време, като се свържете с нас, използвайки информацията за контакт в Раздел 6 по-долу, както и линка за отписване във всяко ел. съобщение. Моля отбележете, че, ако упражните този избор, ще продължите да получавате комуникации във връзка с Вашата сметка и заявените от Вас продукти и услуги, както и отговорите на Вашите заявки за информация. Молим също да отбележите, че завършването на този процес на отписване може да отнеме известно време, съгласно приложимото законодателство.</p>
            <p align="justify"><strong>2.3. МАРКЕТИНГ НА ТРЕТИ СТРАНИ:</strong> Може също да споделим Вашите Лични данни със спонсор или друга трета страна, която да Ви предоставя специални оферти или промоции, които биха могли да представляват интерес за Вас („<strong>Доставчик трета страна</strong>“), когато е позволено.</p>
            <p align="justify"><span style="text-decoration: underline;">Правни основания:</span> на основание Вашето съгласие. По всяко време можете да ни дадете указания да не споделяме Вашите Лични данни, обхванати в тази Политика, с такива Доставчици трети страни, дори и по-рано сте се съгласили.</p>
            <p align="justify"><strong>2.4. НОРМАЛЕН ХОД НА РАБОТАТА: </strong>Също можем да обработваме Вашите Лични данни и други сведения, ако такава обработка е необходима:</p>
            <ol style="list-style-type: lower-roman;">
                <li>за да се спази законът или в отговор на призовка, съдебна заповед, заявление за правоприлагане или друг законен процес;<br><br><span style="text-decoration: underline;">Правни основания:</span> когато е необходимо за спазване на законово задължение, под което попадаме.</li>
                <li>за защитаване на нашите, или на други, интереси, права, сигурност или имущество;<br><br><span style="text-decoration: underline;">Правни основания:</span> когато е необходимо за законните ни интереси, които са да защитаваме тези интереси, права, сигурност и имущество.</li>
                <li>за да приложим условия по услуга от нашите сайтове или условията и реда на наемане, покупка или ползване;<br><br><span style="text-decoration: underline;">Правни основания:</span> за нашите законни интереси, които са да се защитим и да приложим тези условия по услуга или условия и ред.</li>
                <li>като част от бизнес транзакция, при която всички или някои наши активи са закупени, продадени или прехвърлени по друг начин поради закон или договор; и<br><br><span style="text-decoration: underline;">Правни основания:</span> за нашите и на трети страни законни интереси.</li>
                <li>за да оперираме нашите системи изрядно.<br><br><span style="text-decoration: underline;">Правни основания:</span> за нашите законни интереси, които са добрата работа на нашите системи и нашия бизнес, за да предоставяме продуктите и услугите си на Вас и на другите клиенти.</li>
            </ol>
            <p align="justify"><strong>2.5. САЙТОВЕ:</strong>&nbsp;Ако използвате нашите сайтове, може да обработваме Вашите Лични данни както следва:</p>
            <ol style="list-style-type: lower-roman; text-align: justify;">
                <li><strong>Натрупана или анонимна информация:</strong> Може да споделим с трети страни натрупана или анонимна информация за потребителите на нашите сайтове, като Вашата употреба на този сайт или други сайтове, и услугите предоставяни на този сайт или други сайтове, както и данни за наемане, покупка или ползване.</li>
                <li><strong>Социални мрежи:</strong> Ако ползвате определени публични инструменти на нашите сайтове, приложения или сайтове/приложения на социални медии, молим да имате предвид, че информацията предоставена доброволно от Вас или други лица става публично достояние и/или достъпна за други потребители, посочени от Вас.<br><br>Ако изберете да дадете достъп до Вашите Лични данни на определени лица, молим да имате предвид, че всяка информация, която ни предоставяте, може да е видима за такива лица.<br><br>Ние не носим отговорност за сведенията, които Вие или други изберете да оповестите публично, като такива данни не попадат под действието на тази Политика.</li>
                <li><strong>Връзки към трети страни:</strong> Може да предоставим връзки към сайтове на трети страни или на сайтове на трети страни да има връзки към нас. При положение че не контролираме сайтовете на трети страни и не носим отговорност за сведенията, които може да предоставите в тези сайтове, ние Ви приканваме да прочетете политиките за поверителност на тези сайтове, преди да предоставите данните си на съответните трети страни.</li>
            </ol>
            <h3 style="text-decoration: underline;"><a id="diamirasmos"></a>3. СПОДЕЛЯНЕ</h3>
            <div>
                <br><strong>3.Α. ДРУЖЕСТВА ТРЕТИ СТРАНИ </strong><br><br>Може да споделим Вашите Лични данни с трети страни при следните обстоятелства:
                <p align="justify"><strong>3.Α.1. За да Ви предоставим услуги:</strong> Ще споделим Вашите лични данни между нас, нашите агенти, нашите лицензианти и други дружества, за да Ви предоставим услуги, включително, неизчерпателно, за да:</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <ul>
                                    <li>&nbsp;извършим резервациите Ви за наем</li>
                                    <li>&nbsp;обработим и/или потвърдим Вашите транзакции</li>
                                    <li>&nbsp;Ви предоставим обслужване на клиента</li>
                                    <li>&nbsp;таксуваме и съберем дължимите суми във връзка с Вашите наемания</li>
                                </ul>
                            </th>
                            <th>
                                <ul>
                                    <li>&nbsp;за целите на анкетите за клиентската удовлетвореност и проучването на пазара, за да можем да подобрим услугите си</li>
                                    <li>&nbsp;за да обновим производителя на новата Ви кола, за да можете да внасяте искове и да получавате осъвременена информация за безопасността на Вашата кола или относно кампании за изтегляне на продукти от пазара</li>
                                </ul>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <p align="justify"><strong>3.Α.2. Разкриване към компании, които използвате:</strong> Също ще споделяме Вашите данни с дружества, които ползвате във връзка с Вашето наемане, включително:</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <ul>
                                    <li>&nbsp;Вашия доставчик на кредитна карта и други дружества, обработващи Вашите таксувания</li>
                                    <li>&nbsp;посредници, които използвате, като туристическа агенция или брокер, във връзка с обстоятелствата на Вашето наемане</li>
                                </ul>
                            </th>
                            <th>
                                <ul>
                                    <li>&nbsp;оператор на програма за членство, за която получавате награди при наемане от нас, като програма за лоялни клиенти на авиолиния</li>
                                    <li>&nbsp;оторизиран сервиз за коли, който може да предостави услуги по поддръжка и ремонти на автомобили</li>
                                </ul>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <p align="justify"><strong>3.Α.3. Защитни и законни употреби:</strong> Може да използваме, споделяме и разкриваме Вашите лични данни поради законови причини, както счетем за необходимо и целесъобразно, включително, неизчерпателно, за да:</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <ul>
                                    <li>&nbsp;спазим приложимото право, вкл. закони извън Вашата държава</li>
                                    <li>&nbsp;обработим, манипулираме или по друг начин отговорим на искове за щети, вкл. телесна повреда или увредено имущество</li>
                                    <li>&nbsp;спазим законов и застрахователен процес</li>
                                    <li>&nbsp;да отговорим на заявки от публични и държавни органи, включително такива извън Вашата държава на пребиваване</li>
                                </ul>
                            </th>
                            <th>
                                <ul>
                                    <li>&nbsp;приложим нашите условия и ред</li>
                                    <li>&nbsp;си върнем нашите превозни средства или дължими пари, например, с агенции за събиране на дългове</li>
                                    <li>&nbsp;защитим нашата дейност или тази на наше дъщерно дружество</li>
                                    <li>&nbsp;защитим нашите права, лични данни, безопасност или имущество и/или тези на наши дъщерни предприятия, Вашите или на други лица</li>
                                    <li>&nbsp;можем да използваме налични изправителни мерки или да ограничим щетите, които може да претърпим</li>
                                </ul>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <p align="justify"><strong>3.Α.4. Разкриване към нашите доставчици на услуги и агенти:</strong> Може да използваме други дружества като доставчици на услуги или агенти, действащи за нас и подпомагащи ни в извършването на стопанската ни дейност, които да извършват услуги за нас по наши указания. Тези услуги могат да включват хостинг на определени сайтове или бази данни, опериране на приложения за нас на страниците на социални мрежи, провеждане на състезания, лотарии и други рекламни дейности за нас, изпращане на маркетингови съобщения, извършване на анализ на данни и провеждане на анкети да удовлетвореност на клиентите или други проучвания. Ние винаги ще изискваме нашите доставчици на услуги и агенти да поддържат подходящи стандарти за сигурност за защита на Вашите лични данни и да използват личните данни, които им предоставяме, само за цели посочени от нас и съгласно законодателството.</p>
                <p align="justify"><strong>3.Α.5. Разкриване за корпоративни транзакции:</strong> Може да разкрием личните Ви данни на трета страна във връзка с предстоящи или настоящи реорганизация, сливане, продажба, обединение на предприятия, прехвърляне или друго разпореждане с целия или част от бизнеса, активите или акциите, включително във връзка с банкрут или подобни процедури).</p>
                <strong>3.Β. МЕЖДУНАРОДНИ ПРЕХВЪРЛЯНИЯ </strong>
                <p>Някои от употребите и разкриванията, споменати в тази Политика, могат да са свързани с прехвърляне на Вашите Лични данни към различни държави по света, които могат да имат различни нива на защита на личните данни в сравнение с държавата Ви на пребиваване или взаимодействие с нас, например, когато поискате да Ви се предоставят услуги за наемане в държава извън Европейския съюз („ЕС“).<br><br>Когато прехвърлянето на Вашите данни от нас е необходимо за предоставяне на услугите по наемане, заявени от Вас, правното основание за прехвърлянето е договорната необходимост от прехвърляне, като Вашите Лични данни ще бъдат обработени от дружеството, предоставящо заявените от Вас услуги, съгласно действащото местно законодателство и приложимите двустранни междудържавни споразумения<br><br>Когато прехвърляме Вашите Лични данни на трета страна извън Европейския съюз и не е приложимо правно основание, както в случаите на прехвърляне на данните към дружество, което ги обработва съгласно нашите указания, за да можем да предоставим услугите си, ние ще осигурим да са взети необходимите мерки за сигурност при прехвърлянето.</p>
                <br />
                <h3 style="text-decoration: underline;"><a id="asfaleia"></a>4. СЪХРАНЕНИЕ И СИГУРНОСТ</h3>
                <br><strong>4.Α. СЪХРАНЕНИЕ НА ДАННИ </strong>
                <p>Съхраняваме лични данни за нашите клиенти за времето, необходимо за целите, за които са били събрани, освен ако Вие или законът не позволявате или изисквате друго. Събираме Лични данни за редица цели (вижте по-горе) и може да е необходимо да ги съхраним по законови причини (вкл. данъчно, гражданско или др. законодателство) за период по-дълъг от времето, за което са ни необходими или през което използваме данните за целите на предоставяне на Вас на нашите услуги по наемане. Ние поддържаме политика за съхранение на данни, обхващаща всички Лични данни, които съхраняваме в нашите системи. Ако имате въпроси относно периода на съхранение, приложим за Личните данни, които събираме относно Вас, моля свържете се с нас (вижте Раздел 6).</p>
                <strong>4.B. МЕРКИ ЗА СИГУРНОСТ </strong>
                <p>Сведенията се съхраняват и са достъпни в няколко местоположения, включително облачни услуги. Сървърите, където се съхраняват данни, се намират основно в Гърция, Европа и Съединените щати, макар че може да се случи съхранение и в други местоположения. Ние прилагаме разумни административни, технически, свързани с персонала, и физически мерки (а) за защита на Личните данни срещу загуба, кражба, неразрешено ползване, разкриване или изменение; и (б) за да осигурим ненарушеност на Вашите Лични данни. За да ни помогнете да защитим Вашето лично пространство, трябва да опазите в тайна потребителските си имена и паролите си, членските си номера или други данни за разпознаване и установяване на самоличност, които може да сте настроили или да са Ви били предоставени във връзка с Вашето участие в, или ползване на, наши продукти, услуги или сайтове.</p>
                <strong>4.C. ПРЕНОСИ</strong>
                <p>Както може би знаете, няма напълно сигурен начин за пренос или съхранение на данни. Въпреки че физическите им характеристики са различни, пощата, телефонните обаждания, текстовите съобщения, факсовете или преносите през Интернет или безжични мрежи, всички те предоставят възможности за изгубване, пренасочване, прихващане и злоупотреба с пренасяните данни. Ако имате причина да смятате, че някоя сметка с нас вече не е сигурна, трябва незабавно да се свържете с нас.<br><br>Опитваме се да постигнем равновесие между сигурността на Вашите данни и Вашето удобство. В резултат на това, понякога може да използваме начин за връзка, който е по-малко сигурен от по-неудобна алтернатива. Например, неизчерпателно, можем да Ви изпратим ел. поща или текстово съобщение в нешифрована форма (т.е. незабавно четими), защото много от нашите клиенти нямат достъп до шифрирани (т.е. криптирани) ел. поща или съобщения. Това означава, че нашето съобщение, ако е пренасочено или прихванато, би могло да бъде прочетено по-лесно от шифрованите съобщения. Такива съобщения могат да съдържат Лични данни. Молим да не включвайте поверителна информация, като номера на кредитната Ви карта или пароли на сметка, в ел. съобщение или текст, изпратени ни от Вас или в съдържание, което поставяте в публичното пространство на социална мрежа - трета страна, особено защото такова съдържание незабавно става обществено достояние. За по-сигурен начин за общуване с нас в Интернет, молим да натиснете линка „Свържете се с нас“ на наш сайт.</p>
                <br />
                <h3 style="text-decoration: underline;"><a id="dikaiomata"></a>5. ВАШИТЕ ПРАВА</h3>
                <br />
                <p><strong>5.Α.</strong>&nbsp;Вие имате всички права съгласно законовите разпоредби. В частност, имате правото да поискате достъп до, да прегледате и опресните Вашите Лични данни, включени в тази Политика, като може да поискате това свързвайки се с нас, използвайки данните за връзка в Раздел 6 по-долу. Ще направим разумни усилия, за да уважим искането Ви, но, също така, си запазваме правото да наложим някои ограничения и изисквания при такива искания за достъп, ако са разрешени или се изискват по закон. Ако сте член на някоя от нашите програми за членство или лоялност, можете да опресните данните във вашия членски профил като влезете в съответния Ви членски профил.</p>
                <strong>5.B. </strong>Наред с други права, имате право да:
                <ol style="list-style-type: lower-roman;">
                    <li>&nbsp;поискате поправки на Вашите Лични данни, когато информацията, която притежаваме относно Вас, е грешна или непълна;</li>
                    <li>&nbsp;възразите срещу обработката на Вашите Лични данни за целите на прекия маркетинг, включително профилиране, в степента в която се отнася до прекия маркетинг;</li>
                    <li>&nbsp;възразите срещу обработката на Вашите Лични данни, когато нашето правно основание за такава обработка е такова, че обработката е необходима за законните ни интереси, при спазване на наши правни основания за обработката, които имат превес;</li>
                    <li>&nbsp;възразите срещу автоматичното взимане на решения (включително профилиране) при определени обстоятелства;</li>
                    <li>&nbsp;поискате изтриване на Вашите Лични данни при определени условия, например, когато обработката им вече не е нужна за целите, за които са били първоначално събрани и няма убедителна причина да продължим да ги обработваме (или съхраняваме);</li>
                    <li>&nbsp;поискате ограничаване на Вашите Лични данни при определени обстоятелства, например, да не обработваме някои от Вашите Лични данни (вместо просто да ги съхраняваме) след наемане, когато всички въпроси, свързани с наемането, са приключили, като данните се съхраняват само за спазване на определени правни (напр. данъчни) изисквания; и</li>
                    <li>&nbsp;получите (или да поискате от нас да ги прехвърлим към друга организация) Личните данни, които сте ни предоставили и които ние обработваме автоматично, когато нашата обработка е била на основание Вашето съгласие или е необходима за изпълнение на договор с Вас.</li>
                </ol>
                <p><strong>5.C.</strong>&nbsp;Освен това, когато обработваме Вашите Лични данни на основание Вашето съгласие, Вие можете да оттеглите това съгласие по всяко време.<br><br>Можете да отправите искане към нас, за да упражните някое от тези права като се свържете с нас, както е посочено в Раздел 6 по-долу.</p>
                <br />
                <h3 style="text-decoration: underline;"><a id="erotiseis"></a>6. ВЪПРОСИ И ИЗМЕНЕНИЯ</h3>
                <br />
                <p><strong>6.Α. СВЪРЖЕТЕ СЕ С НАС:</strong>&nbsp;Извършваме стопанска дейност в много държави и се стараем да спазваме законите за поверителност, приложими за Личните данни, които събираме и използваме. Ако се безпокоите или имате желания във връзка с нашето боравене с Вашите Лични данни, можете да се свържете с нас пряко чрез способите, описани по-долу. Ще работим, за да отговорим на, и разрешим, бързо Вашите оплаквания. Имате също така право да внасяте оплаквания в компетентен надзорен орган по защитата на данните във Вашата юрисдикция.</p>
                <p>Молим да се свържете с нас чрез ел. поща до <a href="mailto:gdpr@hertz.bg">gdpr@hertz.bg</a> или като пишете на адреса по-долу, ако имате въпроси, желаете да упражните правата си на достъп, или търсите друга помощ, както е описано по-горе.</p>
                <div style="padding-left: 40px;">Общи правила за защита на данните<br>Аутотехника ООД<br>Бул. Никола Вапцаров 53<br>1407<br>София, България<br><br></div>
                <strong>6.Β. ИЗМЕНЕНИЯ:</strong> Запазваме си правото да променяме тази Политика по всяко време и по всяка причина, като публикуваме преработките в този сайт или в съответните приложения или други сайтове. Промените влизат в сила от публикуването им, но няма да влизат в сила със задна дата.
            </div>
        </div>
        <a href="#cont1" class="visible-mobile toggleLnk toggleLnk--arrow byId">
            <span>Прочети повече</span>
            <span>Затвори</span>
        </a>
    </article>
</div>
