@{
    ViewData["Title"] = "Общи условия";
}


<div class="container pages-padding">

    <div class="col-lg-12">
        <div class="section-title  text-center">
            <h2>@ViewData["Title"]</h2>
            <span class="title-line"><i class="fa fa-car"></i></span>
        </div>
    </div>

    <article>
        <!-- Published At -->
        <!-- Body Text -->
        <div>
            <p><strong>ИЗИСКВАНИЯ ЗА НАЕМАТЕЛЯ:</strong> Минималната възраст за наемане на автомобил е 23 години за групите А,В,С, H, I и V2, и 25 години за всички останали групи автомобили.</p>
            <br />
            <p><strong>НАЧИН НА ПЛАЩАНЕ:</strong> За всички групи автомобили се изисква валидна кредитна карта, необходима за предплащане, както и за плащане на крайната сума по наемния договор.</p>
            <br />
            <p><strong>ГРАТИСЕН ПЕРИОД:</strong> В края на договорения срок за наемане, RCTrans дава гратисен период от 29 минути безплатно, след което се таксува минимум един пълен наемен ден.</p>
            <br />
            <p><strong>СВИДЕТЕЛСТВО ЗА УПРАВЛЕНИЕ:</strong> Клиентът трябва да притежава валидна шофьорска книжка най-малко от една година.</p>
            <br />
            <p><strong>ГЛОБИ ЗА ТРАФИК:</strong> Всички глоби, актове и други санкции, получени при нарушаване на Закона за движение по пътищата в България се заплащат от наемателя. Ако не, RCTrans ще плати глобите и ще начисли на клиента пълния размер на глобата за трафик плюс таксата за административна злополука, 13 € на случай, за да покрие всички административни разходи.</p>
            <br />
            <p><strong>РАННО ВРЪЩАНЕ/ УДЪЛЖАВАНЕ НА НАЕМА:</strong> Без възстановяване на суми за неизползвани стойности на ваучер / дни под наем. Текущото удължаване на наемането трябва да бъде уговорено с RCTrans България най-малко 48 часа преди планираното / резервирано изтичане на наема, за да се таксува според валидна тарифа.</p>
            <br />
            <p><strong>ТАКСА ЗА АНУЛИРАНЕ / ТАКСА ЗА НЕЯВЯВАНЕ:</strong> Доставчикът има право, в случай че клиент не се яви или се откаже само 24 часа преди да наеме колата, да таксува клиента Такса за късно анулиране / Неявяване, равна на наема за 1 ден или 30 евро, което от двете е по-голямо. Такса Неявяване влиза в сила, ако клиентът не е успял да наеме превозното средство в рамките на един (1) час от резервираното време / дата, освен ако няма закъснение при пътуване (като се има предвид номер на полета и / или подробности за пътуване са предоставени преди наемането на автомобила).</p>
            <br />
            <p><strong>ЗАСТРАХОВКА "ГРАЖДАНСКА ОТГОВОРНОСТ:</strong> Покрива наетия автомобил за имуществени щети до 1 000 000 евро и телесна повреда или смърт на трети лица до 5 000 000 евро на случай, до сумите, определени от българското законодателство..</p>
            <br />
            <p><strong>ОГРАНИЧАВАНЕ НА ОТГОВОРНОСТТА ПРИ УДАР И ЩЕТИ (CDW)/SCDW):</strong> Отговорността, която носи Наемателя при щета на наетия от RCTrans автомобил може да бъде намалена, съгласно условията на Наемния договор, до минимална такса от €500 за автомобили от групи A,B, H, V2 , €700 за автомобили от групи C, E, I, J, N, P, V3, €900 за група S, T или €1,100 евро за автомобили от групи U, V, Y, V4 при заплащане на допълнителна такса в размер €11 на ден за групи А, В, H, V2, €16 на ден за групи C, E, I, J, N, P, V3, €19 на ден за групи S, T, и €26 на ден за група U, V, Υ, V4.<br><br>Отговорността на наемателя може да бъде снижена до минималните такси от €150 за групи А, В, H, V2, €225 за групи C, E, I, J, N, P, V3, €300 за групи S, T и €400 за група U, V, Y, V4 при заплащане на допълнително покритие съответно €7, €10, €12 и €16 на ден..</p>
            <br />
            <p><strong>ПОКРИТИЕ ПРИ КРАЖБА (TP):</strong> При заплащане на дневна такса от €5 евро/ден за групи A,B, H, V2, €8 ден за групи C, E, I, J, N, P, V3, €10 ден за групи S, T и €13 на ден за група U, V, Y, V4. да намали отговорността на водача в случай на кражба на: 500 € за групи A, B, H, V2, 700 € за групи C, E, I, J, N, P, V3, 900 € за групи ST1100 € за групи U, V, Y, V4 .</p>
            <br />
            <p>Заплащане на таксите 'Ограничаване на отговорност при щети и кражба" не покрива щети по долната част на автомобила ,гуми, джанти , кражба на тасове, касетофон, регистрационни документи и комплект ключове с дистанционно за аларма, както и при кражба на лични вещи. Не се покриват щети и кражба при нарушаване и/или неспазване на условията на Договора за наем и законовите разпоредби на страната.Отговорността не може да бъде отменена или ограничена при частична кражба, загуба на части, аксесоари и/или документи, както и увреждане по гумите и/или по други части от долната част на автомобила.</p>
            <br />
            <p><strong>SUPER COVER (SC):</strong> Наемателят може да се освободи от отговорност (без да доплаща) в случай на кражба или повреда на превозното средство от RCTrans, при условие че наемателят предварително е приел съответните такси за покритие за CDW, SCDW и TP с дневна такса от 3 евро за групи A, B, H, € 4 за групи C, E, I, J, N, P, € 5 за групи S, T и 6 EUR за групи V, U, Y или има резервация, включваща тези покрития. Повредите от долната страна на автомобила, колелата и гумите, счупено стъкло на автомобила или загуба на ключовете на автомобила не се покриват.</p>
            <br />
            <p><strong>ОКРИТИЕ НА МЕСТАТА В АВТОМОБИЛА ПРИ ЗЛОПОЛУКА (PAC):</strong> Застраховката може да бъде сключена при заплащане на такса от €4.00 на ден. Застраховката покрива медицинските разходи на шофьора и пътниците в автомобила до €2.000, обезщетение в случай на смърт до €20.000, а в случай на частична или трай􀀀на загуба на работоспособност до €10.000. Общата стойност на обезщетенията в случай на инцидент е ограничена до €40.000.</p>
            <br />
            <p><strong>ТАКСА ПРИ ЩЕТИ (IAF):</strong> За всяка щета по вина на Наемателя се заплаща такса от €15 за покриване на административни разходи.</p>
            <br />
            <p><strong>ПРЕДПЛАЩАНЕ НА ГОРИВО:</strong> При продължителност на наема от 1-2 дни клиентът трябва да върне автомобила със същото количество гориво, както е било в момента на наемане на автомобила. В случай, че клиентът го върне с по-малко количество, на клиента ще бъде начислена стойността на липсващото гориво. Освен това ще се прилага Такса за зареждане на гориво, която днес е <strong>15 евро</strong>.<br><br>При продължителност на наема от три (3) дни или повече, клиентът е длъжен да предплати цената на количеството гориво, което се намира в резервоара на наетия автомобил по време на наемането. След връщане на автомобила - и само в този момент - клиентът може да поиска да му бъде възстановена стойността на горивото в резервоара по това време. В този случай, ако количеството гориво в резервоара е по-малко от това, което клиентът е предплатил, ще се приложи таксата за обслужване на гориво, която днес е 15 евро. Всяко дължимо възстановяване ще бъде обработено чрез кредитна / дебитна карта на клиента.<br><br>Цената за литър използвано гориво е средната цена на горивото за района, в който е бил нает автомобилът. Таксата за услугата за зареждане с гориво е 15 евро, като RCTrans си запазва правото да я промени в бъдеще без предварително уведомление. Всички възстановявания на гориво, спорове и т.н. трябва да бъдат разрешени с персонала на RCTrans в момента на връщане на превозното средство. RCTrans няма да разглежда спорове, след като бъде издадена окончателната фактура. На всички бюра RCTrans на пет езика е налична листовка за Политика за горивото.</p>
            <br />
            <p><strong>ТАКСА ЗАРЕЖДАНЕ:</strong> €15.</p>
            <br />
            <p><strong>ЗАЩИТА НА ПРЕДНОТО СТЪКЛО:</strong> Отговорността на наемателите за повреди на предното стъкло на автомобила може да бъде намалена, съгласно Общите условия на Договора за наем, до 0 €, като се приеме плащане в размер на 2 евро на ден</p>
            <br />
            <p><strong>ЛЕТИЩНА ТАКСА (ASC):</strong> Еднократна такса в размер 10% от стойността на Наемния договор, но не по-малко от €18, платима при наемане на автомобил от летище.</p>
            <br />
            <p><strong>ТАКСА ПРИБИРАНЕ/ДОСТАВКА:</strong> Таксата прибиране/доставка на автомобил извън офис на RCTrans е €10 (такса за града). Цената на услугата извън града е €0.50 на км.Наем на автомобил извън работното време на съответния RCTrans офис се заплаща €25.</p>
            <br />
            <p><strong>ЕДНОПОСОЧEН НАЕМ:</strong> Между офиси на RCTrans в България цената на услугата е €0.50 на км. Фиксирани са цените София-Пловдив - €40, София-Бургас/Слънчев бряг -€90, София-Варна -€120 , варна – Бургас/Слънчев бряг - €40, Варна-Пловдив €90 , Бургас/Слънчев бряг – Пловдив - €70.</p>
            <br />
            <p><strong>ТАКСА ЗА ИЗЛИЗАНЕ ОТ ГРАНИЦИТЕ НА БЪЛГАРИЯ:</strong> На всички превозни средства, с изключение на луксозните категории, може да бъде разрешено да пътуват в чужбина при специални условия и само при поискване от местния RCTrans Office. Заявката трябва да бъде направена 5 дни преди датата на вземане на автомобила, а цената е 80 € за европейските страни и 120 € за всички други страни.</p>
            <br />
            <p><strong>ТАКСА ДОПЪЛНИТЕЛЕН ШОФЬОР:</strong> Такса от €4 на ден се заплаща за всеки допълнителен шофьор.</p>
            <br />
            <p><strong>GPS:</strong> Налични при запитване с такса от €9 на ден.</p>
            <br />
            <p><strong>ВЕРИГИ ЗА СНЯГ:</strong> Налични при запитване с такса от €4 на ден.</p>
            <br />
            <p><strong>ВИНЕТНА ТАКСА:</strong> Начислява се €1.50 на ден.</p>
            <br />
            <p><strong>НАЛИЧНОСТ:</strong> Компанията си запазва правото да предостави различен модел автомобил от първоначално запазения с равностоен или от по-висок клас.&nbsp;</p>
            <br />
            <p><strong>ДАНЪЦИ:</strong> Всички тарифи и такси, са подложени на 20% ДДС.</p>
        </div>


        <!-- Mobile : Read More -->
    </article>
</div>